{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>{%block titulo%}{%endblock%}</title>
	<link rel="stylesheet" type="text/css" href='{%static 'css/bootstrap.css'%}'>
	<link rel="stylesheet" type="text/css" href='{%static 'css/nana.css'%}'>
	<link rel="stylesheet" type="text/css" href='{% static 'css/reset.css'%}'>
	<link rel="stylesheet" type="text/css" href='{% static 'css/main.css'%}'>
	<script type="text/javascript" src="{%static 'js/jquery-2.2.2.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/main.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/bootstrap.min.js'%}"></script>
	{%block extra_head%}
	{%endblock%}
</head>
<body>
<header>
		<div class="logo">
			<a href="{%url 'index'%}">MAS ARQ</a>
		</div><!-- end logo -->
		<div id="menu_icon"></div>
		<nav>
			<ul>
				<li><a href="{%url 'index'%}" class="selected"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;INICIO</a></li>
				<li><a href="{%url 'pagina' pagina='contacto'%}"><span class='glyphicon glyphicon-earphone'></span>&nbsp;&nbsp;&nbsp;CONTACTO</a></li>
				<li><a href="{%url 'pagina' pagina='equipo'%}"><span class='glyphicon glyphicon-user'></span>&nbsp;&nbsp;&nbsp;EQUIPO</a></li>
			</ul>
		</nav><!-- end navigation menu -->

		<div class="footer clearfix">
			<ul class="social clearfix">
				<li><a href="#" class="fb" data-title="Facebook"></a></li>
				<li><a href="#" class="google" data-title="Google +"></a></li>
				<li><a href="#" class="behance" data-title="Behance"></a></li>
				<!--<li><a href="#" class="twitter" data-title="Twitter"></a></li>
				<li><a href="#" class="dribble" data-title="Dribble"></a></li>-->
				<li><a href="#" class="rss" data-title="RSS"></a></li>
			</ul><!-- end social -->

			<div class="rights">
				<p>Copyright © 2016 mas_arq.</p>
				<!--<p>Template by <a href="">Pixelhint.com</a></p>-->
			</div><!-- end rights -->
		</div ><!-- end footer -->
	</header><!-- end header -->
<section class="main clearfix">
{%block body%}
{%endblock%}
</section>
</body>
</html>